  main {
    /* background-color: white; */
    height: 100vh;
    display: flex;

  }



  .display-4 {
    font-family: 'Alfa Slab One', cursive;
    font-family: 'Oswald', sans-serif;
  }

  .headder-sec {
    display: flex;
    margin: 25px 0 0 70px;
  }

  .head-btn {
    display: flex;
  }

  h4 {
    color: rgb(0, 0, 0);
    /* margin-left: 200px; */
  }

  .location-img {
    margin-top: 7px;
    font-size: 20px;
    width: 30px;
    height: 30px;
  }

  .search-input {
    font-size: 20px;
    font-weight: bold;
    font-style: italic;
    margin: 0px 100px 0 130px;
    height: 40px;
    width: 600px;
    /* background-color: #2F3640; */
    opacity: 1;
    border-radius: 50px;
    border: none;
    color: rgb(0, 0, 0);
    border: 2px solid black;
    padding-left: 20px;
  }

  .div-search {
    position: relative;
  }


  .btn {
    height: 40px;
    color: white;
    border: none;
    position: absolute;
    right: 105px;
    border-radius: 50%;
  }

  .btn-1 {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    border: none;
  }


  .icon-search {
    font-size: 25px;
    color: rgb(0, 0, 0);
  }

  img {
    margin-left: -1px;
    width: 25px;
    height: 25px;
  }

  .light-btn {
    background-color: #82CCDD;
  }

 

  .dark-btn {
    background-color: hsl(217, 16%, 22%, 50%);
    margin-right: 20px;
    /* opacity: 0.4; */
  }

  .second-sec {
    font-family: 'Chau Philomene One', sans-serif;
    display: flex;
    font-weight: bold;
    position: absolute;
    top: 110px;
    left: 80px;
    color: rgb(0, 0, 0);
  }

  .third-sec {
    display: flex;
    position: relative;
    right: 1470px;
  }

  .three-day {
    margin: 0 600px 0 300px;
  }



  .hi {
    height: 10px;
  }


  .card {
    position: absolute;
    left: 310px;
    top: 145px;
    background-color: #82CCDD;
    width: 250px;


  }


  .display-4 {
    margin-top: -50px;
    margin-bottom: -50px;
  }

  .card-2 {
    color: rgb(0, 0, 0);
    border: none;
    margin-left: 100px;
    width: 200px;
    background-color: hsla(214, 13%, 78%, 0.35);

  }

  .card-3 {
    color: black;
    border: none;
    margin-left: 330px;
    width: 200px;
    background-color: hsla(214, 13%, 78%, 0.35);
  }

  .card-4 {
    border: none;
    margin-left: 560px;
    width: 200px;
    background-color: hsla(214, 13%, 78%, 0.35);
  }

  .map-sec {
    font-family: 'Chau Philomene One', sans-serif;
    font-weight: 900;
    display: flex;
    display: flex;
    position: absolute;
    top: 410px;
    left: 80px;
    color: rgb(0, 0, 0);
  }

  .time{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
      font-weight: bold;
      font-size: 20px;

  }

  .map-sec>h5:nth-child(1) {
    margin-right: 960px;
  }

  .google-map {
    position: absolute;
    left: 80px;
    top: 450px;
  }

  iframe {
    width: 1000px;
    height: 250px;
  }

  .real-feel {
    display: flex;
    font-size: 15px;
  }

  .humidity {
    display: flex;
    margin-top: -30px;
  }

  .wind {
    display: flex;
    margin-bottom: -15px;
  }

  .location {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-weight: bold;
  }

 
  .main-img {
    margin-top: -60px;
    width: 100px;
    height: 100px;
  }

  .current-weather {
    display: flex;
    margin-left: 20px;
    margin-bottom: -30px;
  }

  .humidity-wind {
    margin-top: 50px;
    display: flex;
  }

  .day {
    font-family: 'Sigmar One', cursive;
    font-weight: 900;
    font-size: 20px;
    margin-bottom: 20px;
  }

  .day-1 {
    font-family: 'Sigmar One', cursive;
    font-size: 25px;
    font-weight: 900;
    margin-left: 45px;
    margin-top: -15px;
  }

  .capacity {
    font-family: 'Alfa Slab One', cursive;
    font-family: 'Oswald', sans-serif;
    font-style: initial;
    color: #000000;
    position: absolute;
    font-size: 48px;
    top: 190px;
    left: 45px;
  }

  .image {
    margin-left: 33px;
    margin-top: 10px;
    width: 80px;
    height: 70px;
  }

  .wind-2 {
    margin-top: 10px;
    margin-bottom: -10px;
  }

  .div-last-days {
    display: flex;
    width: 335px;
    height: 75px;
    background-color: hsla(214, 13%, 78%, 0.35);
    margin-bottom: 11px;
    border-radius: 20px;
  }

  .div-sec {
    position: absolute;
    top: 450px;
    right: 60px;
  }

  .last-day-1 {
    font-family: 'Sigmar One', cursive;
    font-weight: 900;
    margin: 10px 0 0 20px;
  }

  .last-day-1-img {
    width: 70px;
    height: 70px;
    margin: 0 0 0 60px;
  }

  .last-day-1-capacity {
    margin: 10px 0 0 40px;
    color: rgb(0, 0, 0);
  }

  .noti-div {
    width: 335px;
    height: 235px;
    background-color: hsla(214, 13%, 78%, 0.35);
    position: absolute;
    top: 150px;
    right: 65px;
    border-radius: 20px;
  }

  .bell {
    color: rgb(0, 0, 0);
    margin: 20px;
    font-size: 20px;
  }

  .fa-fw {
    color: black;
  }